.elementor-188 .elementor-element.elementor-element-ce7f83e > .elementor-container{max-width:900px;}.elementor-188 .elementor-element.elementor-element-ce7f83e{padding:20px 0px 20px 0px;}.elementor-188 .elementor-element.elementor-element-eb9020d.elementor-widget-heading .elementor-heading-title{color:#3d4048;}.elementor-188 .elementor-element.elementor-element-eb9020d .elementor-heading-title{font-size:40px;font-weight:bold;line-height:1.5em;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(20px/2);}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(20px/2);}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(20px/2);margin-left:calc(20px/2);}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-20px/2);margin-left:calc(-20px/2);}body.rtl .elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-20px/2);}body:not(.rtl) .elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-20px/2);}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-item:not(:last-child):after{content:"";height:3px;border-color:#8e8e93;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-top-style:solid;border-top-width:3px;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-style:solid;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-width:3px;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-icon{width:14px;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-icon i{font-size:14px;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-text, .elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-text a{color:#8e8e93;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-item{font-size:18px;line-height:1.39em;}.elementor-188 .elementor-element.elementor-element-ebdd659 .elementor-spacer-inner{height:400px;}.elementor-188 .elementor-element.elementor-element-ebdd659 > .elementor-widget-container{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-188 .elementor-element.elementor-element-16ea277f > .elementor-container{max-width:900px;}.elementor-188 .elementor-element.elementor-element-16ea277f{padding:20px 0px 20px 0px;}.elementor-188 .elementor-element.elementor-element-3e5e8bdc .elementor-element-populated a{color:#4054b2;}.elementor-188 .elementor-element.elementor-element-3e5e8bdc .elementor-element-populated a:hover{color:#4054b2;}.elementor-188 .elementor-element.elementor-element-1b18a594{color:#707070;font-size:18px;line-height:1.44em;}.elementor-188 .elementor-element.elementor-element-2f4013f:not(.elementor-grid-0) .elementor-grid{grid-column-gap:10px;grid-row-gap:5px;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-grid-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:5px;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-grid-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}.elementor-188 .elementor-element.elementor-element-2f4013f .elementor-share-btn{font-size:calc(0.75px * 10);}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-flat .elementor-share-btn,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-gradient .elementor-share-btn,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-boxed .elementor-share-btn .elementor-share-btn__icon,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-minimal .elementor-share-btn .elementor-share-btn__icon{background-color:#777777;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-framed .elementor-share-btn,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-minimal .elementor-share-btn,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-boxed .elementor-share-btn{color:#777777;border-color:#777777;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-flat .elementor-share-btn__icon, 
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-flat .elementor-share-btn__text, 
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-gradient .elementor-share-btn__icon,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-gradient .elementor-share-btn__text,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-boxed .elementor-share-btn__icon,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-minimal .elementor-share-btn__icon{color:#ffffff;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-flat .elementor-share-btn:hover,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-gradient .elementor-share-btn:hover{background-color:#000000;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-framed .elementor-share-btn:hover,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-minimal .elementor-share-btn:hover,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-boxed .elementor-share-btn:hover{color:#000000;border-color:#000000;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-boxed .elementor-share-btn:hover .elementor-share-btn__icon, 
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-minimal .elementor-share-btn:hover .elementor-share-btn__icon{background-color:#000000;}.elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-flat .elementor-share-btn:hover .elementor-share-btn__icon, 
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-flat .elementor-share-btn:hover .elementor-share-btn__text, 
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-gradient .elementor-share-btn:hover .elementor-share-btn__icon,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-gradient .elementor-share-btn:hover .elementor-share-btn__text,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-boxed .elementor-share-btn:hover .elementor-share-btn__icon,
					 .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-share-buttons--skin-minimal .elementor-share-btn:hover .elementor-share-btn__icon{color:#ffffff;}@media(max-width:1024px){ .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-grid-tablet-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:5px;} .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-grid-tablet-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}}@media(max-width:767px){.elementor-188 .elementor-element.elementor-element-ce7f83e{padding:10px 10px 10px 10px;}.elementor-188 .elementor-element.elementor-element-eb9020d .elementor-heading-title{font-size:30px;}.elementor-188 .elementor-element.elementor-element-d1abfae .elementor-icon-list-item{font-size:15px;}.elementor-188 .elementor-element.elementor-element-16ea277f{padding:10px 10px 10px 10px;} .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-grid-mobile-0 .elementor-share-btn{margin-right:calc(10px / 2);margin-left:calc(10px / 2);margin-bottom:5px;} .elementor-188 .elementor-element.elementor-element-2f4013f.elementor-grid-mobile-0 .elementor-grid{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}}@media(min-width:768px){.elementor-188 .elementor-element.elementor-element-3e5e8bdc{width:92%;}.elementor-188 .elementor-element.elementor-element-1b0bca0{width:8%;}}/* Start custom CSS for theme-post-content, class: .elementor-element-1b18a594 */.elementor-188 .elementor-element.elementor-element-1b18a594 {
    word-wrap: break-word;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 p,
.elementor-188 .elementor-element.elementor-element-1b18a594 h1,
.elementor-188 .elementor-element.elementor-element-1b18a594 h2,
.elementor-188 .elementor-element.elementor-element-1b18a594 h3,
.elementor-188 .elementor-element.elementor-element-1b18a594 h4,
.elementor-188 .elementor-element.elementor-element-1b18a594 h5,
.elementor-188 .elementor-element.elementor-element-1b18a594 h6,
.elementor-188 .elementor-element.elementor-element-1b18a594 li {
    margin-bottom: 20px;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h1,
.elementor-188 .elementor-element.elementor-element-1b18a594 h2,
.elementor-188 .elementor-element.elementor-element-1b18a594 h3,
.elementor-188 .elementor-element.elementor-element-1b18a594 h4,
.elementor-188 .elementor-element.elementor-element-1b18a594 h5,
.elementor-188 .elementor-element.elementor-element-1b18a594 h6 {
    font-weight: 500;
    line-height: 1.5;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h1 {
    font-size: 2em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h2 {
    font-size: 1.85em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h3 {
    font-size: 1.6em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h4 {
    font-size: 1.35em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h5 {
    font-size: 1.1em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 h6 {
    font-size: 0.9em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 a {
    border-bottom: 1px dotted #4054b2;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 b,
.elementor-188 .elementor-element.elementor-element-1b18a594 strong {
    font-weight: bold;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 i,
.elementor-188 .elementor-element.elementor-element-1b18a594 em,
.elementor-188 .elementor-element.elementor-element-1b18a594 cite {
    font-style: italic;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 ul {
    list-style-type: disc;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 ol {
    list-style-type: decimal;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 ul,
.elementor-188 .elementor-element.elementor-element-1b18a594 ol {
    margin-left: 1.5em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 ul li li:last-of-type,
.elementor-188 .elementor-element.elementor-element-1b18a594 ol li li:last-of-type {
    margin-bottom: 0;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 ul li li:first-of-type,
.elementor-188 .elementor-element.elementor-element-1b18a594 ol li li:first-of-type {
    padding-top: 1em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 blockquote {
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-style: italic;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 pre {
    display: block;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #333;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 code {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #333;
    color: #eee;
    font-size: 0.85em;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 table {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* images */
.elementor-188 .elementor-element.elementor-element-1b18a594 img {
    max-width: 100%;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 .aligncenter,
.elementor-188 .elementor-element.elementor-element-1b18a594 img.aligncenter {
    margin: 0 auto 20px;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 figure {
    max-width: 100%;
    padding-bottom: 20px;
}
.elementor-188 .elementor-element.elementor-element-1b18a594 figcaption {
    font-size: 0.85em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}














/**
 * Gist Syntax Themes:
 * https://lonekorean.github.io/gist-syntax-themes/
 *
 * Solarized Dark:
 * https://cdn.rawgit.com/lonekorean/gist-syntax-themes/b737b139/stylesheets/solarized-dark.css
 */
body .gist .highlight {
    background: #002b36;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s1 .pl-s2,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-vo,
body .gist .pl-vpf {
    color: #839496;
}
body .gist .pl-c,
body .gist .pl-c span {
    color: #586e75;
    font-style: italic;
}
body .gist .pl-mb {
    color: #2aa198;
    font-weight: 700;
}
body .gist .pl-mh .pl-en {
    color: #cb4b16;
    font-weight: 700;
}
body .gist .pl-mi {
    color: #859900;
    font-style: italic;
}
body .gist .pl-c1,
body .gist .pl-pds,
body .gist .pl-s1,
body .gist .pl-s1 .pl-pse .pl-s2,
body .gist .pl-sv {
    color: #2aa198;
}
body .gist .pl-e,
body .gist .pl-en,
body .gist .pl-ent,
body .gist .pl-s,
body .gist .pl-v {
    color: #268bd2;
}
body .gist .pl-k,
body .gist .pl-mdh,
body .gist .pl-mdr,
body .gist .pl-ml,
body .gist .pl-mm,
body .gist .pl-mo,
body .gist .pl-mp,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s1 .pl-v,
body .gist .pl-s3 {
    color: #859900;
}
body .gist .pl-mh,
body .gist .pl-sc,
body .gist .pl-sr .pl-cce {
    color: #cb4b16;
}
body .gist .pl-mq,
body .gist .highlight-source-css .pl-k {
    color: #586e75;
}
body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-sr .pl-sre,
body .gist .pl-src {
    color: #d30102;
}
body .gist .pl-st,
body .gist .highlight-source-c\+\+ .pl-s {
    color: #dc322f;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #839496;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf,
body .gist .pl-id,
body .gist .pl-ii {
    color: #839496;
    background: rgba(64, 0, 0, .5);
}/* End custom CSS */